@import "reset";
@import "api";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&family=Montserrat:wght@400;500;600;700");


:root {
    --bg-color: azure;
    --text-color: black;
    --second-text-color: #737373;
    --btn-hover: green;
}